body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	margin: 10px 0px;
	padding:0px 10px 0px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	display: inline-block;
}

#fermer {
	float: right;
	display: inline-block;
	margin-left: 100px;
}
